/* SHOW RESTAURANTES  */

.location-banner {
    width: 100%;
    height: 220px;
    background-image:  url("./img/banner/default.jpg");
    background-size: cover;
    border-radius: 10px;
}


/*DIV COM NOME, LOGO E BOTÃO OFFCANVAS*/
.info-loja {
    position: absolute;
    top: 320px;
    
    width: 67.5%;
}
    /*LOGO E NOME*/
    .logo-loja{
        width: 80px; 
        height: 80px;
        border-radius: 100%;
        background-color: black;
        overflow: hidden;
    }

    .logo {
        width: 100%;
    }

    .name-loja {
        position: absolute;
        top: 20px;
        left: 100px;
        width: 600px;
    }

    /*OFFCANVAS*/
    .ver-mais-info {
        position: absolute;
        right: 30px;
        top: 28px;
        
    }

    .info-offcanvas {
        position: absolute;
        left: 60px;
        width: 300px;
    }


/* DIV COM O CONTEUDO DA SHOW */

.conteudo {
    position: absolute;
    top: 150px;
}   
    .fotos-funcionarios {
        position: relative;
        float: left;
        margin: 5px;
        background-color: black;
        width: 250px;
        height: 400px;
        border-radius: 10px;
        overflow: hidden;
    }
    .foto-funcionario {
        width: 250px;
        height: 400px;
        object-fit: cover;
    }
    .texto {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        bottom: 200px;
        width: 100%;
        line-height: 45px;
        height: 45px;
        display: block;
        background-color: #000;
        color: #FFF;
        text-align: center;
        font-family: "Roboto";
        left: 0;
        top: 0;
        margin: auto;
        transition: all 0.4s ease;
    }
    .fotos-funcionarios:hover .texto {
        opacity: 1;
        visibility: visible;
        bottom: 0;
    }
    .fotos-pratos {
        background-color: black;
        width: 250px;
        height: 400px;
        border-radius: 10px;
    }

