@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');

/* SHOW RESTAURANTES E BARES  */

.location-banner {
    width: 100%;
    height: 220px;
    background-image:  url("./img/banner/default.jpg");
    background-size: cover;
    border-radius: 10px;
}

/*DIV COM NOME, LOGO E BOTÃO OFFCANVAS DO ESTABELECIMENTO*/
.info-loja {
    position: absolute;
    top: 320px;
    
}
    /*LOGO E NOME*/
    .logo-loja{
        width: 80px; 
        height: 80px;
        border-radius: 100%;
        background-color: black;
        overflow: hidden;
    }

    .logo {
        width: 100%;
    }

    .name-loja {
        position: absolute;
        top: 20px;
        left: 100px;
        width: 600px;
    }

    /*OFFCANVAS*/
    .ver-mais-info {
        position: absolute;
        right: 30px;
        top: 28px;
        
    }

    .info-offcanvas {
        position: absolute;
        left: 60px;
        width: 300px;
    }


/* DIV COM O CONTEUDO PRINCIPAL DA SHOW */
.conteudo {
    position: absolute;
    top: 150px;
}  


.carrossel-funcoes {
    position: relative;
}
.criar {
    position: absolute; left: 0; top: 0;
    
    width: 100%; height: 100%; line-height: 100px;
   
    visibility: hidden;  opacity: 0;
    
    display: block;
    
    color: #FFF; background-color: gray;

    text-align: center;
    font-family: "Arial";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 100px;
    margin: auto;
    transition: all 0.4s ease;
}

.carrossel-funcoes:hover .criar {
    opacity: 0.9;
    visibility: visible;
    bottom: 0;
}